    <footer class="footer">
      <div class="container">
        <div class="footer-container">
          <div class="footer-pre-form">
            <svg class="footer-logo" width="83" height="23">
              <use href="./images/icons.svg#icon-logo"></use>
            </svg>
            <p class="footer-first-par">
              Subscribe to our newsletter for the latest updates on our yoga
              clases and events.
            </p>
            <div class="footer-form-cont">
              <form class="footer-form">
                <label class="foot-form-label" for="youremail">
                  <input
                      class="foot-form-input"
                      type="email"
                      name="youremail"
                      id="youremail"
                      placeholder="Your email here"
                  >
                </label>
                <button class="footer-button" type="submit">Join</button>
              </form>
              <p class="privacy">
                By subscribing, you consent to our Privacy Policy and agree to
                receive updates.
              </p>
            </div>
          </div>
          <div class="footer-links">
            <div class="quick-links">
              <h3 class="quick-links-title">Quick Links</h3>
              <ul class="links-sections">
                <li class="link-section-item">
                  <a class="footer-section-link"
                    ><p class="linc-section-par">Yoga Classes</p></a
                  >
                </li>
                <li class="link-section-item">
                  <a class="footer-section-link">
                    <p class="linc-section-par">Team</p></a
                  >
                </li>
                <li class="link-section-item">
                  <a class="footer-section-link"
                    ><p class="linc-section-par">Pricing</p></a
                  >
                </li>
                <li class="link-section-item">
                  <a class="footer-section-link"
                    ><p class="linc-section-par">Contacts</p></a
                  >
                </li>
              </ul>
            </div>

            <div class="connect-with-us">
              <h3 class="quick-links-title">Connect With Us</h3>
              <ul class="footer-media-list">
                <li class="foot-media-item">
                  <a class="media-icon"
                    ><svg class="media-svg" width="24" height="24">
                      <use href="./images/icons.svg#icon-Facebook"></use>
                    </svg>
                    <p class="media-par">Facebook</p>
                  </a>
                </li>
                <li class="foot-media-item">
                  <a class="media-icon"
                    ><svg class="media-svg" width="24" height="24">
                      <use href="./images/icons.svg#icon-Instagram"></use>
                    </svg>
                    <p class="media-par">Instagram</p>
                  </a>
                </li>
                <li class="foot-media-item">
                  <a class="media-icon"
                    ><svg class="media-svg" width="24" height="24">
                      <use href="./images/icons.svg#icon-LinkedIn"></use>
                    </svg>
                    <p class="media-par">LinkedIn</p>
                  </a>
                </li>
                <li class="foot-media-item">
                  <a class="media-icon">
                    <svg class="media-svg" width="30" height="24">
                      <use href="./images/icons.svg#icon-Youtube"></use>
                    </svg>
                    <p class="media-par">YouTube</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <p class="all-rights">© 2025 Yoga Studio. All rights reserveds</p>
        </div>
      </div>
    </footer>
  </body>
</html>
