    <footer class="footer" id="contacts">
      <div class="container">
        <div class="footer-container">
          <div class="footer-pre-form">
            <svg class="footer-logo" width="83" height="23">
              <use href="/images/icons.svg#icon-logo"></use>
            </svg>
            <p class="footer-first-par">
              Subscribe to our newsletter for the latest updates on our yoga
              clases and events.
            </p>
            <div class="footer-form-cont">
              <form class="footer-form">
                <label class="foot-form-label" for="youremail">
                  <input
                      class="foot-form-input"
                      type="email"
                      name="youremail"
                      id="youremail"
                      placeholder="Your email here"
                      pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
                      required
                  >
                </label>
                <button class="footer-button" type="submit">Join</button>
              </form>
              <p class="privacy">
                By subscribing, you consent to our Privacy Policy and agree to
                receive updates.
              </p>
            </div>
          </div>
          <div class="footer-links">
            <div class="quick-links">
              <h3 class="quick-links-title">Quick Links</h3>
              <ul class="links-sections">
                <li class="link-section-item">
                  <a href="#programs" class="footer-section-link">Yoga Classes</a>
                </li>
                <li class="link-section-item">
                  <a href="#team" class="footer-section-link">Team</a>
                </li>
                
                <li class="link-section-item">
                  <a href="#pricing" class="footer-section-link">Pricing</a>
                </li>
               <li class="link-section-item">
                  <a href="#contacts" class="footer-section-link">Contacts</a>
                </li>
              </ul>
            </div>

            <div class="connect-with-us">
              <h3 class="quick-links-title">Connect With Us</h3>
              <ul class="footer-media-list">
                <li class="foot-media-item">

                  <a class="media-icon" href="https://www.facebook.com/" target="_blank">
                    <svg class="media-svg" width="24" height="24">
                      <use href="./images/icons.svg#icon-Facebook"></use>
                    </svg>
                    Facebook
                  </a>
                </li>
                <li class="foot-media-item">
                  <a class="media-icon" href="https://www.instagram.com/" target="_blank"
                    ><svg class="media-svg" width="24" height="24">
                      <use href="/images/icons.svg#icon-Instagram"></use>
                    </svg>
                    Instagram
                  </a>
                </li>
                <li class="foot-media-item">
                  <a class="media-icon" href="https://www.linkedin.com/" target="_blank"
                    ><svg class="media-svg" width="24" height="24">
                      <use href="/images/icons.svg#icon-LinkedIn"></use>
                    </svg>
                    LinkedIn
                  </a>
                </li>
                <li class="foot-media-item">
                  <a class="media-icon" href="https://www.youtube.com/" target="_blank">
                    <svg class="media-svg" width="30" height="24">
                      <use href="/images/icons.svg#icon-Youtube"></use>
                    </svg>
                   YouTube
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <p class="all-rights">© 2025 Yoga Studio. All rights reserved</p>
        </div>
      </div>
    </footer>
  </body>
</html>
