<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <footer class="footer">
      <div class="footer-container">
        <div class="footer-pre-form">
          <svg class="footer-logo" width="83" height="24">
            <use href="./images/icons.svg#icon-logo"></use>
          </svg>
          <p class="footer-first-par">
            Subscribe to our newsletter for the latest updates on our yoga
            clases and events.
          </p>
          <div class="footer-form-cont">
            <form class="footer-form">
              <label class="foot-form-label">
                <input
                  class="foot-form-input"
                  type="email"
                  name="youremail"
                  placeholder="Your email here"
                />
              </label>
              <button class="footer-button" type="submit">Join</button>
              <p class="privacy">
                By subscribing, you consent to our Privacy Policy and agree to
                receive updates.
              </p>
            </form>
          </div>
        </div>
        <div class="footer-links">
          <div class="quick-links">
            <h3 class="quick-links-title">Quick Links</h3>
            <ul class="links-sections">
              <li class="link-section-item">
                <a class="footer-section-link"
                  ><p class="linc-section-par">Yoga Classes</p></a
                >
              </li>
              <li class="link-section-item">
                <a class="footer-section-link">
                  <p class="linc-section-par">Yoga Classes</p></a
                >
              </li>
              <li class="link-section-item">
                <a class="footer-section-link"
                  ><p class="linc-section-par">Pricing</p></a
                >
              </li>
              <li class="link-section-item">
                <a class="footer-section-link"
                  ><p class="linc-section-par">Contacts</p></a
                >
              </li>
            </ul>
          </div>
          <div class="connect-with-us">
            <h3 class="connect-us">Connect With Us</h3>
            <ul class="footer-media-list">
              <li class="foot-media-item">
                <a class="media-icon"
                  ><svg class="media-svg" width="24" height="24">
                    <use href="./images/icons.svg#icon-Facebook"></use>
                  </svg>
                  <p class="media-par">Facebook</p>
                </a>
              </li>
              <li class="foot-media-item">
                <a class="media-icon"
                  ><svg class="media-svg" width="24" height="24">
                    <use href="./images/icons.svg#icon-Instagram"></use>
                  </svg>
                  <p class="media-par">Instagram</p>
                </a>
              </li>
              <li class="foot-media-item">
                <a class="media-icon"
                  ><svg class="media-svg" width="24" height="24">
                    <use href="./images/icons.svg#icon-LinkedIn"></use>
                  </svg>
                  <p class="media-par">LinkedIn</p>
                </a>
              </li>
              <li class="foot-media-item">
                <a class="media-icon">
                  <svg class="media-svg" width="30" height="24">
                    <use href="./images/icons.svg#icon-Youtube"></use>
                  </svg>
                  <p class="media-par">YouTube</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <p class="all-rights">© 2025 Yoga Studio. All rights reserveds</p>
    </footer>
  </body>
</html>
