<section class="section-gallery-head">
  <div class="container">
    <h2 class="section-gallery-title">Breathe in the Space</h2>
    <p class="section-gallery-text">
      Step inside YogaBloom and feel the calm. Explore our serene studio and the
      peaceful moments our community shares during each session.
    </p>
    <ul class="section-gallery-list">
      <li class="section-gallery-item">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/1-min.jpg     1x,
              ./images/desktop/gallery/g1@2x-min.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              ./images/tab/gallery/g1-min.jpg    1x,
              ./images/tab/gallery/g1@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mob/gallery/1-min.jpg    1x,
              ./images/mob/gallery/1@2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/mob/gallery/1-min.jpg" alt="yoga class" />
        </picture>
      </li>
      <li class="section-gallery-item">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/g2-min.jpg    1x,
              ./images/desktop/gallery/g2@2x-min.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              ./images/tab/gallery/g2-min.jpg    1x,
              ./images/tab/gallery/g2@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mob/gallery/2-min.jpg    1x,
              ./images/mob/gallery/2@2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/mob/gallery/2-min.jpg" alt="Pilates lesson" />
        </picture>
      </li>
      <li class="section-gallery-item">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/g3-min.jpg    1x,
              ./images/desktop/gallery/g3@2x-min.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              ./images/tab/gallery/g3-min.jpg    1x,
              ./images/tab/gallery/g3@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mob/gallery/3-min.jpg    1x,
              ./images/mob/gallery/3@2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/mob/gallery/3-min.jpg" alt="yoga room" />
        </picture>
      </li>
      <li class="section-gallery-item">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/g4-min.jpg    1x,
              ./images/desktop/gallery/g4@2x-min.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              ./images/tab/gallery/g4-min.jpg    1x,
              ./images/tab/gallery/g4@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mob/gallery/4-min.jpg    1x,
              ./images/mob/gallery/4@2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/mob/gallery/g4-min.jpg" alt="pilates room" />
        </picture>
      </li>
      <li class="section-gallery-item">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/g5-min.jpg    1x,
              ./images/desktop/gallery/g5@2x-min.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              ./images/tab/gallery/g5-min.jpg    1x,
              ./images/tab/gallery/g5@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mob/gallery/5-min.jpg    1x,
              ./images/mob/gallery/5@2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/mob/gallery/5-min.jpg" alt="Relaxed atmosphere" />
        </picture>
      </li>
      <li class="section-gallery-item">
        <picture>
          <source
            srcset="
              ./images/desktop/gallery/g6-min.jpg    1x,
              ./images/desktop/gallery/g6@2x-min.jpg 2x
            "
            media="(min-width: 1336px)"
          />
          <source
            srcset="
              ./images/tab/gallery/g6-min.jpg    1x,
              ./images/tab/gallery/g6@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/mob/gallery/6-min.jpg    1x,
              ./images/mob/gallery/6@2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img src="./images/mob/gallery/6-min.jpg" alt="Relaxing time" />
        </picture>
      </li>
    </ul>
  </div>
</section>
