<header class="page-header">
    <div class="container header-container">
    <button class="burger-btn">
        <svg class="icon-burger" width="24" height="24">
            <use href="/images/icons.svg#icon-burger_menu"></use>
        </svg>
    </button>

    <nav class="navigation">
        <ul class="nav-list">
          <li><a href="#programs" class="nav-link">Yoga Classes</a></li>
          <li><a href="#team" class="nav-link">Team</a></li>
          <li><a href="#testimonials" class="nav-link">Testimonials</a></li>
          <li><a href="#pricing" class="nav-link">Pricing</a></li>
          <li><a href="#footer" class="nav-link">Contacts</a></li>
        </ul>
      </nav>


    <a href="#" class="header-logo">
        <svg class="logo-icon" width="84" height="36">
            <use href="../images/icons.svg#icon-logo"></use>
        </svg>
    </a>

        <a href="#pricing" class="header-link-to-pricing">Join<span class="extra-word"> Now</span></a> 
    </div>
</header>