<section class="section-hero">  

        <div class="hero-banner-wrapper">
            <picture class="hero-banner">
                <source
                    media="(min-width: 1336px)"
                    srcset="/images/desktop/hero/banner-min.jpg 1x, /images/desktop/hero/banner@2x-min.jpg 2x"
                    width="1440"
                    height="684"
                >
                <source
                    media="(min-width: 768px)"
                    srcset="/images/tab/hero/banner-min.jpg 1x, /images/tab/hero/banner@2x-min.jpg 2x"
                    width="768"
                    height="359"
                >
                <source
                    media="(min-width: 375px)"
                    srcset="/images/mob/hero/banner-min.jpg 1x, /images/mob/hero/banner@2x-min.jpg 2x"
                    width="375"
                    height="301"
                >
                <source
                    media="(min-width: 320px)"
                    srcset="/images/mob/hero/banner-min.jpg 1x, /images/mob/hero/banner@2x-min.jpg 2x"
                    max-width="374"
                    max-height="300"
                >
                <img src="/images/mob/hero/banner-min.jpg" alt="Girl in yoga pose">
            </picture>
        </div>

        <div class="container hero-container">

        <h1 class="section-hero-title">Transform Your Life with Our Yoga Courses</h1>
        <div class="hero-text-and-btns-wrapper">
            <p class="section-hero-text">Discover the harmony of mind and body through our expertly designed yoga programs. Join a community dedicated to wellness and personal growth.</p>
            <div class="hero-btns-wrapper">
            <a href="#pricing" class="ancor-link ancor-link-to-pricing">Join<span class="hide-word"> Now</span></a>
            <a href="#gallery" class="ancor-link ancor-link-to-gallery">Learn More</a>
            </div>
        </div>
        </div>
</section>