<div class="modal-overlay is-open">
    <div class="modal">

        <button class="close-btn" type="button">
        <svg class="close-icon" width="16" height="16">
            <use href="../images/icons.svg#icon-close-menu"></use>
        </svg>
        </button>

        <h1 class="modal-title">Join Now!</h1>
        <p class="modal-text">12 Sessions Package</p>
        <p class="modal-price">$80</p>

        <form class="modal-form">

            <div class="input-field">
                <label class="modal-label" for="user-name">Your Name</label>
                <input 
                    type="text" 
                    class="modal-input" 
                    id="user-name" 
                    name="user-name"
                    placeholder="Liam"
                >
            </div>

            <div class="input-field">
                <label class="modal-label" for="user-email">Your Email</label>
                <input 
                    type="email" 
                    class="modal-input" 
                    id="user-email" 
                    name="user-email"
                    placeholder="hello@yogabloom.com"
                >
            </div>

            <div class="input-field">
                <label class="modal-label" for="user-tel">Phone number</label>
                <input 
                    type="tel" 
                    class="modal-input" 
                    id="user-tel" 
                    name="user-tel"
                    placeholder="+380 (95) 123 12 12"
                >
            </div>
            <button class="submit-btn" type="submit">Go to checkout</button>
        </form>
    </div>
</div>