<div class="modal-overlay" data-modal-s data-modal-close-s>
  <div class="modal">
    <button class="close-btn" type="button" aria-label="close modal window" data-modal-close-s>
      <svg class="close-icon" width="16" height="16">
        <use href="/images/icons.svg#icon-close-menu"></use>
      </svg>
    </button>

    <h1 class="modal-title">Join Now!</h1>
    <p class="modal-text">One Session</p>
    <p class="modal-price">$10</p>

    <form class="modal-form">
      <div class="input-field">
        <label class="modal-label" for="user-name">Your Name</label>
        <input
          type="text"
          class="modal-input"
          id="user-name"
          name="user-name"
          placeholder="Liam"
          required
        />
      </div>

      <div class="input-field">
        <label class="modal-label" for="user-email">Your Email</label>
        <input
          type="email"
          class="modal-input"
          id="user-email"
          name="user-email"
          placeholder="hello@yogabloom.com"
          required
        />
      </div>

      <div class="input-field">
        <label class="modal-label" for="user-tel">Phone number</label>
        <input
          type="tel"
          class="modal-input"
          id="user-tel"
          name="user-tel"
          placeholder="+380 (95) 123 12 12"
          required
        />
      </div>
      <button class="submit-btn" type="submit" aria-label="go to checkout" >Go to checkout</button>
    </form>
  </div>
</div>

<div class="modal-overlay" data-modal-m data-modal-close-m>
  <div class="modal">
    <button class="close-btn" type="button" aria-label="close modal window" data-modal-close-m>
      <svg class="close-icon" width="16" height="16">
        <use href="/images/icons.svg#icon-close-menu"></use>
      </svg>
    </button>

    <h1 class="modal-title">Join Now!</h1>
    <p class="modal-text">8 Sessions Package</p>
    <p class="modal-price">$65</p>

    <form class="modal-form">
      <div class="input-field">
        <label class="modal-label" for="user-name-m">Your Name</label>
        <input
          type="text"
          class="modal-input"
          id="user-name-m"
          name="user-name"
          placeholder="Liam"
          required
        />
      </div>

      <div class="input-field">
        <label class="modal-label" for="user-email-m">Your Email</label>
        <input
          type="email"
          class="modal-input"
          id="user-email-m"
          name="user-email"
          placeholder="hello@yogabloom.com"
          required
        />
      </div>

      <div class="input-field">
        <label class="modal-label" for="user-tel-m">Phone number</label>
        <input
          type="tel"
          class="modal-input"
          id="user-tel-m"
          name="user-tel"
          placeholder="+380 (95) 123 12 12"
          required
        />
      </div>
      <button class="submit-btn" type="submit" aria-label="go to checkout" >Go to checkout</button>
    </form>
  </div>
</div>

<div class="modal-overlay" data-modal-l data-modal-close-l>
  <div class="modal">
    <button class="close-btn" type="button" aria-label="close modal window" data-modal-close-l>
      <svg class="close-icon" width="16" height="16">
        <use href="/images/icons.svg#icon-close-menu"></use>
      </svg>
    </button>

    <h1 class="modal-title">Join Now!</h1>
    <p class="modal-text">12 Sessions Package</p>
    <p class="modal-price">$80</p>

    <form class="modal-form">
      <div class="input-field">
        <label class="modal-label" for="user-name-l">Your Name</label>
        <input
          type="text"
          class="modal-input"
          id="user-name-l"
          name="user-name"
          placeholder="Liam"
          required
        />
      </div>

      <div class="input-field">
        <label class="modal-label" for="user-email-l">Your Email</label>
        <input
          type="email"
          class="modal-input"
          id="user-email-l"
          name="user-email"
          placeholder="hello@yogabloom.com"
          required
        />
      </div>

      <div class="input-field">
        <label class="modal-label" for="user-tel-l">Phone number</label>
        <input
          type="tel"
          class="modal-input"
          id="user-tel-l"
          name="user-tel"
          placeholder="+380 (95) 123 12 12"
          required
        />
      </div>
      <button class="submit-btn" type="submit" aria-label="go to checkout" >Go to checkout</button>
    </form>
  </div>
</div>
