<section class="pricing-section" id="pricing">
  <div class="container pricing">
    <div class="pricing-header">
      <p class="pricing-subtitle">Affordable</p>
      <h2 class="pricing-title">Pricing Plans</h2>
      <p class="pricing-description">
        Choose the perfect plan for your yoga journey.
      </p>
    </div>

    <div class="pricing-all-cards">
      <div class="pricing-card">
        <h3 class="card-title">One Session</h3>
        <p class="price">$10</p>
        <ul class="features">
          <li class="pricing-list-item">
            <svg class="marker" width="24" height="24">
              <use href="../images/icons.svg#icon-Check"></use>
            </svg>
            1 group session
          </li>
          <li class="pricing-list-item">
            <svg class="marker" width="24" height="24">
              <use href="../images/icons.svg#icon-Check"></use>
            </svg>
            10% discount for next 2 Sessions
          </li>
          <li class="pricing-list-item">
            <svg class="marker" width="24" height="24">
              <use href="../images/icons.svg#icon-Check"></use>
            </svg>
            Community support group
          </li>
        </ul>
        <button type="button" class="join-btn-pricing">Join</button>
      </div>

      <div class="pricing-card">
        <h3 class="card-title">8 Sessions Package</h3>
        <p class="price">$65</p>
        <ul class="features">
          <li class="pricing-list-item">
            <svg class="marker" width="24" height="24">
              <use href="../images/icons.svg#icon-Check"></use>
            </svg>
            6 Group Sessions
          </li>
          <li class="pricing-list-item">
            <svg class="marker" width="24" height="24">
              <use href="../images/icons.svg#icon-Check"></use>
            </svg>
            2 Individual Sessions
          </li>
          <li class="pricing-list-item">
            <svg class="marker" width="24" height="24">
              <use href="../images/icons.svg#icon-Check"></use>
            </svg>
            Community support group
          </li>
        </ul>
        <button type="button" class="join-btn-pricing">Join</button>
      </div>

      <div class="pricing-card last">
        <h3 class="card-title">12 Sessions Package</h3>
        <p class="price">$80</p>
        <ul class="features">
          <li class="pricing-list-item">
            <svg class="marker" width="24" height="24">
              <use href="../images/icons.svg#icon-Check"></use>
            </svg>
            8 Group Sessions
          </li>
          <li class="pricing-list-item">
            <svg class="marker" width="24" height="24">
              <use href="../images/icons.svg#icon-Check"></use>
            </svg>
            4 Individual Sessions
          </li>
          <li class="pricing-list-item">
            <svg class="marker" width="24" height="24">
              <use href="../images/icons.svg#icon-Check"></use>
            </svg>
            Monthly yoga challenges
          </li>
          <li class="pricing-list-item">
            <svg class="marker" width="24" height="24">
              <use href="../images/icons.svg#icon-Check"></use>
            </svg>
            Exclusive member discounts
          </li>
          <li class="pricing-list-item">
            <svg class="marker" width="24" height="24">
              <use href="../images/icons.svg#icon-Check"></use>
            </svg>
            Community support group
          </li>
        </ul>
        <button type="button" class="join-btn-pricing last">Join</button>
      </div>
    </div>
  </div>
</section>
