<section class="pricing-section" id="pricing">
  <div class="container pricing">
    <div class="pricing-header">
      <p class="pricing-subtitle">Affordable</p>
      <h2 class="pricing-title">Pricing Plans</h2>
      <p class="pricing-description">
        Choose the perfect plan for your yoga journey.
      </p>
    </div>

    <div class="pricing-all-cards">
      <div class="pricing-card">
        <h3 class="card-title">One Session</h3>
        <p class="price">$10</p>
        <ul class="features">
          <li>1 group session</li>
          <li>10% discount for next 2 Sessions</li>
          <li>Community support group</li>
        </ul>
        <button type="button" class="join-btn">Join</button>
      </div>

      <div class="pricing-card">
        <h3 class="card-title">8 Sessions Package</h3>
        <p class="price">$65</p>
        <ul class="features">
          <li>6 Group Sessions</li>
          <li>2 Individual Sessions</li>
          <li>Community support group</li>
        </ul>
        <button type="button" class="join-btn">Join</button>
      </div>

      <div class="pricing-card">
        <h3 class="card-title">12 Sessions Package</h3>
        <p class="price">$80</p>
        <ul class="features">
          <li>8 Group Sessions</li>
          <li>4 Individual Sessions</li>
          <li>Monthly yoga challenges</li>
          <li>Exclusive member discounts</li>
          <li>Community support group</li>
        </ul>
        <button type="button" class="join-btn">Join</button>
      </div>
    </div>
  </div>
</section>
