<section class="section-programs container">
  <p class="text-explore">Explore</p>
  <h2 class="section-programs-title">
    Discover Our Most Popular Yoga Programs
  </h2>
  <p class="section-programs-text">
    Join our community and elevate your practice with our expertly designed yoga
    programs. Each course is tailored to meet various skill levels and personal
    goals.
  </p>
  <ul class="programs-list">
    <li class="programs-item">
      <picture class="programs-card-photo">
        <source
          media="(min-width: 1336px)"
          srcset="
            /images/desktop/programs/1.jpg       1x,
            images/desktop/programs/1@2x-min.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /images/tab/programs/1-min.jpg    1x,
            /images/tab/programs/1@2x-min.jpg 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /images/mob/programs/1-min.jpg    1x,
            /images/mob/programs/1@2x-min.jpg 2x
          "
        />
        <img src="/images/mob/programs/1-min.jpg" alt="Girls in yoga" />
      </picture>
      <h3 class="programs-card-title">Beginner Yoga: Foundations</h3>
      <p class="programs-card-text">
        Learn the basics of yoga in a supportive environment.
      </p>
    </li>
    <li class="programs-item">
      <picture class="programs-card-photo">
        <source
          media="(min-width: 1336px)"
          srcset="
            /images/desktop/programs/2-min.jpg    1x,
            /images/desktop/programs/2@2x-min.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /images/tab/programs/2-min.jpg    1x,
            /images/tab/programs/2@2x-min.jpg 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /images/mob/programs/2-min.jpg    1x,
            /images/mob/programs/2@2x-min.jpg 2x
          "
        />
        <img src="/images/mob/programs/2-min.jpg" alt="Yoga pose" />
      </picture>
      <h3 class="programs-card-title">
        Vinyasa Flow: Energize Your Body and Mind
      </h3>
      <p class="programs-card-text">
        Experience a dynamic sequence that connects breath and movement.
      </p>
    </li>
    <li class="programs-item">
      <picture class="programs-card-photo">
        <source
          media="(min-width: 1336px)"
          srcset="
            /images/desktop/programs/3-min.jpg    1x,
            /images/desktop/programs/3@2x-min.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /images/tab/programs/3-min.jpg    1x,
            /images/tab/programs/3@2x-min.jpg 2x
          "
        />
        <source
          media="(min-width: 320px)"
          srcset="
            /images/mob/programs/3-min.jpg    1x,
            /images/mob/programs/3@2x-min.jpg 2x
          "
        />
        <img src="/images/mob/programs/3-min.jpg" alt="Meditation pose" />
      </picture>
      <h3 class="programs-card-title">
        Restorative Yoga: Deep Relaxation and Healing
      </h3>
      <p class="programs-card-text">
        Unwind and rejuvenate with gentle poses and mindfulness.
      </p>
    </li>
  </ul>
  <a href="#pricing" class="btn-programs-to-parcing programs-link"
    >Join<span class="hide-word"> Now</span></a
  >
</section>
