<section class="team-section">
    <div class="container">
        <h6 class="small-title">Meet</h6>
        <h2 class="team-title">Our Team</h2>
        <p class="team-text-main">
            Dedicated professionals passionate about yoga and wellness.
        </p>
        <ul class="team-list">
            <li class="team-item">
                <picture>
                    <source media="(min-width:1336px)"
                    srcset="/images/desktop/team/liam-min.jpg 1x, 
                            /images/desktop/team/liam@2x-min.jpg 2x"
                            width="421"
                            height="395"
                            >
                    <source media="(min-width:768px)"
                    srcset="/images/tab/team/liam-min.jpg 1x, 
                            /images/tab/team/liam@2x-min.jpg 2x"
                            width="340"
                            height="395"
                            >
                    <source media="(max-width:767px)"
                    srcset="/images/mob/team/liam-min.jpg 1x, 
                            /images/mob/team/liam@2x-min.jpg 2x"
                            width="343"
                            height="221"
                            >
                <img 
                src="/images/desktop/team/liam-min.jpg 1x"
                alt="Liam_Johnson"
                class="team-image"
                >
                </picture>
                <div class="team-text-name">
                    <h5 class="name-title">Liam Johnson</h5>
                    <p class="team-text-main">Meditation Coach</p>
                    <p class="team-text-description">Liam specializes in mindfulness and stress reduction techniques through guided meditation.</p>
                    <ul class="socnetwork-list">
                        <li class="socnetwork-list-item">
                            <a class="team-soc-link" href="https://www.linkedin.com/">
                                <svg class="team-soc-icon"  width="24" height="24">
                                    <use href="/images/icons.svg#icon-LinkedIn"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socnetwork-list-item">
                            <a class="team-soc-link" href="https://www.instagram.com/">
                                <svg class="team-soc-icon"  width="24" height="24">
                                    <use href="/images/icons.svg#icon-Instagram"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team-item">
                <picture>
                    <source media="(min-width:1336px)"
                    srcset="/images/desktop/team/emma-min.jpg 1x, 
                            /images/desktop/team/emma@2x-min.jpg 2x"
                            width="421"
                            height="395"
                            >
                    <source media="(min-width:768px)"
                    srcset="/images/tab/team/emma-min.jpg 1x, 
                            /images/tab/team/emma@2x-min.jpg 2x"
                            width="340"
                            height="395"
                            >
                    <source media="(max-width:767px)"
                    srcset="/images/mob/team/emma-min.jpg 1x, 
                            /images/mob/team/emma@2x-min.jpg 2x"
                            width="343"
                            height="221"
                            >
                <img 
                src="/images/desktop/team/emma-min.jpg"
                alt="Emma_Stone"
                class="team-image"
                >
                </picture>
                <div class="team-text-name">
                    <h5 class="name-title">Emma Stone</h5>
                    <p class="team-text-main">Yoga Instructor</p>
                    <p class="team-text-description">Emma has over 10 years of experience in Hatha and Vinyasa yoga.</p>
                    <ul class="socnetwork-list">
                        <li class="socnetwork-list-item">
                            <a class="team-soc-link" href="https://www.linkedin.com/">
                                <svg class="team-soc-icon"  width="24" height="24">
                                    <use href="/images/icons.svg#icon-LinkedIn"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team-item">
                <picture>
                    <source media="(min-width:1336px)"
                    srcset="/images/desktop/team/sophia-min.jpg 1x, 
                            /images/desktop/team/sophia@2x-min.jpg 2x"
                            width="421"
                            height="395"
                            >
                    <source media="(min-width:768px)"
                    srcset="/images/tab/team/sophia-min.jpg 1x, 
                            /images/tab/team/sophia@2x-min.jpg 2x"
                            width="340"
                            height="395"
                            >
                    <source media="(max-width:767px)"
                    srcset="/images/mob/team/sophia-min.jpg 1x, 
                            /images/mob/team/sophia@2x-min.jpg 2x"
                            width="343"
                            height="221"
                            >
                <img 
                src="/images/desktop/team/sophia-min.jpg"
                alt="Sophia_Lee"
                class="team-image"
                >
                </picture>
                <div class="team-text-name">
                    <h5 class="name-title">Sophia Lee</h5>
                    <p class="team-text-main">Pilates Trainer</p>
                    <p class="team-text-description">Sophia combines Pilates with yoga for a holistic fitness approach.</p>
                    <ul class="socnetwork-list">
                        <li class="socnetwork-list-item">
                            <a class="team-soc-link" href="https://www.instagram.com/">
                                <svg class="team-soc-icon"  width="24" height="24">
                                    <use href="/images/icons.svg#icon-Instagram"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    
                </div>
            </li>
            <li class="team-item">
                <picture>
                    <source media="(min-width:1336px)"
                    srcset="/images/desktop/team/noah-min.jpg 1x, 
                            /images/desktop/team/noah@2x-min.jpg 2x"
                            width="421"
                            height="395"
                            >
                    <source media="(min-width:768px)"
                    srcset="/images/tab/team/noah-min.jpg 1x, 
                            /images/tab/team/noah@2x-min.jpg 2x"
                            width="340"
                            height="395"
                            >
                    <source media="(max-width:767px)"
                    srcset="/images/mob/team/noah-min.jpg 1x, 
                            /images/mob/team/noah@2x-min.jpg 2x"
                            width="343"
                            height="221"
                            >
                <img 
                src="../images/desktop/team/noah-min.jpg"
                alt="Noah_Brown"
                class="team-image"
                >
                </picture>
                <div class="team-text-name">
                    <h5 class="name-title">Noah Brown</h5>
                    <p class="team-text-main">Yoga Therapist</p>
                    <p class="team-text-description">Noah focuses on therapeutic yoga to aid recovery and enhance well-being.</p>
                    <ul class="socnetwork-list">
                        <li class="socnetwork-list-item">
                            <a class="team-soc-link" href="https://www.linkedin.com/">
                                <svg class="team-soc-icon"  width="24" height="24">
                                    <use href="/images/icons.svg#icon-LinkedIn"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team-item">
                <picture>
                    <source media="(min-width:1336px)"
                    srcset="/images/desktop/team/ava-min.jpg 1x, 
                            /images/desktop/team/ava@2x-min.jpg 2x"
                            width="421"
                            height="395"
                            >
                    <source media="(min-width:768px)"
                    srcset="/images/tab/team/ava-min.jpg 1x, 
                            /images/tab/team/ava@2x-min.jpg 2x"
                            width="340"
                            height="395"
                            >
                    <source media="(max-width:767px)"
                    srcset="/images/mob/team/ava-min.jpg 1x, 
                            /images/mob/team/ava@2x-min.jpg 2x"
                            width="343"
                            height="221"
                            >
                <img 
                src="../images/desktop/team/ava-min.jpg"
                alt="Ava_Green"
                class="team-image"
                >
                </picture>
                <div class="team-text-name">
                    <h5 class="name-title">Ava Green</h5>
                    <p class="team-text-main">Fitness Trainer</p>
                    <p class="team-text-description">Ava integrates strength training with yoga to promote overall fitness.</p>
                    <ul class="socnetwork-list">
                        <li class="socnetwork-list-item">
                            <a class="team-soc-link" href="https://www.facebook.com/">
                                <svg class="team-soc-icon" width="24" height="24">
                                    <use href="/images/icons.svg#icon-Facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socnetwork-list-item">
                            <a class="team-soc-link" href="https://www.instagram.com/">
                                <svg class="team-soc-icon" width="24" height="24"> 
                                    <use href="/images/icons.svg#icon-Instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socnetwork-list-item">
                            <a class="team-soc-link" href="https://www.linkedin.com/">
                                <svg class="team-soc-icon" width="24" height="24">
                                    <use href="/images/icons.svg#icon-LinkedIn"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team-item">
                <picture>
                    <source media="(min-width:1336px)"
                    srcset="/images/desktop/team/clark-min.jpg 1x, 
                            /images/desktop/team/clark@2x-min.jpg 2x"
                            width="421"
                            height="395"
                            >
                    <source media="(min-width:768px)"
                    srcset="/images/tab/team/clark-min.jpg 1x, 
                            /images/tab/team/clark@2x-min.jpg 2x"
                            width="340"
                            height="395"
                            >
                    <source media="(max-width:767px)"
                    srcset="/images/mob/team/clark-min.jpg 1x, 
                            /images/mob/team/clark@2x-min.jpg 2x"
                            width="343"
                            height="221"
                            >
                <img 
                src="../images/desktop/team/clark-min.jpg"
                alt="Clark_Thomas"
                class="team-image"
                >
                </picture>
                <div class="team-text-name">
                    <h5 class="name-title">Clark Thomas</h5>
                    <p class="team-text-main">Fitness Trainer</p>
                    <p class="team-text-description">Clark specializes in mindfulness and stress reduction techniques through guided meditation.</p>
                    <ul class="socnetwork-list">
                        <li class="socnetwork-list-item">
                            <a class="team-soc-link" href="https://www.facebook.com/">
                                <svg class="team-soc-icon" width="24" height="24">
                                    <use href="/images/icons.svg#icon-Facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="socnetwork-list-item">
                            <a class="team-soc-link" href="https://www.instagram.com/">
                                <svg class="team-soc-icon" width="24" height="24">
                                    <use href="/images/icons.svg#icon-Instagram"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>