body {
  font-family: 'Sarabun', sans-serif;
  color: #0d0b0a;
  background-color: #f2fafa;
  line-height: 1.6;
  letter-spacing: 0.01em;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
