.footer {
    background-color: #DFEBEB;       
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    padding-bottom: 48px;
}
.footer-container {
    background-color: #F8FBFE;    
    display: flex;
    flex-direction: column;  
    align-items: flex-start;
    border: 0px solid rgba(13, 11, 10, 0.15);
    border-radius: 16px;
    padding: 32px;
    gap: 48px;
}
.footer-logo {
    width: 84px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.footer-first-par {
    font-size: 16px;
    text-align: start;
    margin-bottom: 20px;
}
.footer-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 12px;
}
.foot-form-input {
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 12px;
    padding: 8px 12px;
    width: 100%;
    height: 42px;
    line-height: 1.6;
    background-color: rgba(13, 11, 10, 0.05);
}
.foot-form-input::placeholder {   
    line-height: 1.6;
    color: rgba(13, 11, 10, 0.6);
}
.footer-button {
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 100px;
    padding: 10px 24px;
    width: 279px;
    height: 46px;
    background-color: rgba(13, 11, 10, 0.05);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;    
}
.privacy {   
    font-size: 12px;
    text-align: start;    
}
.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    gap: 40px;
}
.quick-links-title {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 16px;
}
.quick-links {    
    width: 165px;
    text-align: left;       
}
.links-sections {   
    display: flex;
    flex-direction: column;    
}
.link-section-item {
    padding: 8px 0;
}
.linc-section-par {
    font-size: 14px;
}
.foot-media-item {
    padding: 9px 0;    
}
.media-icon {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}
.media-par {    
    font-size: 14px;    
}

.all-rights {   
    font-size: 14px;   
}

@media screen and (min-width: 768px) {
    .footer-container {
        padding: 40px 32px;
        gap: 40px;     
    }
    .footer-logo {
        margin-bottom: 24px;
    }
    .footer-first-par {
        margin-bottom: 24px;
    }
    .footer-pre-form {
        width: 100%;
    }
    .footer-button {    
        width: 78px;        
    }
    .footer-form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;        
        gap: 16px;
    }
    .foot-form-label {
        flex-grow: 1;
    }
    .quick-links-title {
        margin-bottom: 16px;
    } 
    .footer-links {        
        flex-direction: row;        
    }
    .quick-links,
    .connect-with-us {
        width: 300px;
    }
    .connect-with-us {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1336px) {
    .footer {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .footer-container {
        padding: 48px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;       
        flex-direction: row;
        row-gap: 0;       
    }    
    .footer-pre-form {
        width: 595px;
    }
    .footer-form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;     
    }
    .quick-links,
    .connect-with-us {
        width: 165px;
    }
}