.footer {
    background-color: #DFEBEB;
    padding: 64px;
    font-family: "Sarabun", sans-serif;
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

.footer-container {
    background-color: #F8FBFE;
    padding: 48px;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    align-items: flex-start;
}

.footer-pre-form {
    max-width: 320px;
}

.footer-links {
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
}

.quick-links {
    margin-right: 8px;
    width: 165px;
    text-align: left;
}

.footer-first-par {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}

.footer-form-cont {
    margin-top: 24px;
}

.foot-form-input {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    height: 42px;
    padding: 8px 12px;
    border-radius: 12px;
    border: none;
    width: 271px;
}

.footer-button {
    justify-content: center;
    align-items: center;
    font-family: "Sarabun", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    color: #0D0B0A;
    background-color: #0D0B0A0D;
    border: none;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 30px;
    height: 26px;
    width: 279px;
    height: 46px;
    padding: 10px 125px;
}

.all-rights {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0%;
    margin-left: 48px;
}

.privacy {
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: 0%;
}

.links-sections {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.quick-links {
    text-align: left;
}

.linc-section-par,
.media-par {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0%;
}

.quick-links-title,
.connect-us {
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
}

.footer-media-list {
    margin: 0;
    padding: 0;
}

.media-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.media-svg {
    background-color: #DFEBEB;
    margin-right: 4px;
}

.quick-links,
.connect-with-us {
    width: 100%;
}


@media screen and (min-width: 768px) and (max-width: 1335.98px) {
    .footer-container {
        flex-direction: column;
        min-width: 704px;
        align-items: flex-start;
    }

    .footer-first-par {
        width: 640px;
    }

    .footer-button {
        margin-left: 16px;
        padding: 10px 24px;
        width: 78px;
        height: 46px;
    }

    .footer-form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 680px;
    }

    .foot-form-input {
        width: 546px;
    }

    .footer-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 40px;
    }

    .quick-links,
    .connect-with-us {
        width: 300px;
    }

    .connect-with-us {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1336px) {
    .footer {
        width: 1440px;
    }

    .footer-first-par {
        width: 595px;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        min-width: 1312px;
        flex-direction: row;
    }

    .footer-links {
        display: flex;
    }

    .footer-button {
        cursor: pointer;
        margin-left: 16px;
        padding: 10px 24px;
        width: 78px;
        height: 46px;
    }

    .footer-form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 620px;
    }

    .foot-form-input {
        width: 501px;
    }

    .footer-links {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .media-icon {
        justify-content: center;
    }

    .quick-links,
    .connect-with-us {
        width: 165px;
    }
}