
.header-container {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  max-width: 375px;
  margin: 0 auto;
}

.burger-btn {
  border: none;
  background-color: transparent;
}

.icon-burger {
  display: block;
  fill: #0d0b0a;
}
.header-logo {
  align-items: center;
}

.logo-icon {
  display: block;
}

.navigation {
  display: none;
}

.nav-link {
  display: block;
}
 
.header-link-to-pricing {
  display: block;
  background-color:  #c2d9fc;
  border-radius: 100px;
  padding: 4px 22px;
  font-weight: 500;
  font-size: 16px;
}

.extra-word {
  display: none;
}

@media screen and (min-width: 768px) {
    .header-container {
      max-width: 768px;
      gap: 32px;

    }

    .extra-word {
      display: inline;
    }
}

@media screen and (min-width: 1336px) {
  .header-container {
    max-width: 1440px;
  }

  .burger-btn {
    display: none;
  }

  .navigation {
    display: flex;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    font-size: 16px;
  }
  
  .nav-link {
    border-bottom: 2px solid rgba(13, 11, 10, 0.5);
  }

}

 