
.header-container {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  max-width: 375px;
  margin: 0 auto;
}

.burger-btn {
  border: none;
  background-color: transparent;
}

.icon-burger {
  display: block;
  fill: #0d0b0a;
}

.mob-tab-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #ffff;
  display: none;
  z-index: 999;
}

.mob-tab-menu.is-open {
  display: block;
}

.nav-bar-container {
  display: flex;
  flex-direction: row;
  gap: 62px;
  justify-content: space-between;
  padding: 15px 16px;
}

.menu-close-btn {
  border: none;
  background-color: transparent;
}

.menu-logo-icon {
  display: block;
  fill: #0d0b0a;
}

.menu-link-to-pricing {
  display: block;
  background-color:  #c2d9fc;
  border-radius: 100px;
  padding: 4px 22px;
  font-weight: 500;
  font-size: 16px;
}

.menu-extra-word {
  display: none;
}

.menu-links-container {
  padding: 16px 16px 160px 16px;
}

.menu-links-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: baseline;
}

.menu-link {
  display: block;
}

.menu-link:hover,
.menu-link:focus {
  color:  rgba(13, 11, 10, 0.5);
  transition: color 250ms ease;
}

.menu-join-link {
  display: block;
  border: 1px solid #c2d9fc;
  border-radius: 100px;
  padding: 10px 0;
  height: 46px;
  font-weight: 500;
  font-size: 16px;
  background-color: #c2d9fc;
  margin-top: 276px;
}

.header-logo {
  align-items: center;
}

.logo-icon {
  display: block;
  fill: #0d0b0a;
}

.navigation {
  display: none;
}

.nav-link {
  display: block;
}
 
.header-link-to-pricing {
  display: block;
  background-color:  #c2d9fc;
  border-radius: 100px;
  padding: 4px 22px;
  font-weight: 500;
  font-size: 16px;
}

.extra-word {
  display: none;
}

@media screen and (min-width: 768px) {
    .header-container {
      max-width: 768px;
      gap: 32px;

    }

    .extra-word {
      display: inline;
    }

    .menu-extra-word {
      display: inline;
    }

    .menu-join-link {
      padding: 10px 24px;
      width: 204px;
    }
}

@media screen and (min-width: 1336px) {
  .header-container {
    max-width: 1440px;
  }

  .burger-btn {
    display: none;
  }

  .mob-tab-menu {
    display: none;
  }

  .navigation {
    display: flex;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    font-size: 16px;
  }
  
  .nav-link.current {
    border-bottom: 2px solid rgba(13, 11, 10, 0.5);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: rgba(13, 11, 10, 0.5);
  }
  
}

 