.hero-banner-wrapper {
  max-width: 375px;
  margin: 0 auto;
}
.hero-container {
  padding-top: 48px;
  padding-bottom: 48px;
}
.section-hero-title {
  font-family: "Cabin", sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 1.2;
  margin-bottom: 20px;
  text-align: start;
}
.section-hero-text {
  font-size: 16px;
  margin-bottom: 24px;
  text-align: start;
}
.hero-btns-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.hide-word {
  display: none;
}
.ancor-link-to-pricing {
  display: block;
  border: 1px solid #c2d9fc;
  border-radius: 100px;
  padding: 10px 0;
  height: 46px;
  font-weight: 500;
  font-size: 16px;
  background-color: #c2d9fc;
  transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ancor-link-to-gallery {
  display: block;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100px;
  padding: 10px 0;
  max-width: 329px;
  height: 46px;
  font-weight: 500;
  font-size: 16px;
  background-color: rgba(13, 11, 10, 0.05);
  transition: 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ancor-link-to-gallery:hover,
.ancor-link-to-gallery:focus {
  background-color: #dfebeb;
  border-color: #868584;  
}

.hero-link {
  max-width: 329px;
}

@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .hero-banner-wrapper {
    max-width: 768px;
  }
  .section-hero-title {
    width: 423px;
    margin-bottom: 8px;
  }
  .section-hero-text {
    width: 641px;
    font-size: 18px;
    margin-bottom: 32px;
  }
  .hero-btns-wrapper {
    flex-direction: row;
  }
  .hero-link {
    width: 144px;
  }
  .hide-word {
    display: inline;
  }
}
@media screen and (min-width: 1336px) {
    .hero-banner-wrapper {
        max-width: 1440px;
    }
    .hero-container {
        padding-top: 80px;
        padding-bottom: 80px;
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
    .section-hero-title {
        font-size: 72px;
        width: 644px;
        margin-bottom: 0;
    }
    .hero-text-and-btns-wrapper {
        padding-top: 8px;
    }
    .ancor-link-to-pricing {
        width: 113px;        
    }   
    .ancor-link-to-gallery {
        width: 128px;
    }
} 
