.pricing-section {
    background: #f8fbfe;
}

.container.pricing {
    padding-top: 64px;
    padding-bottom: 64px;
}

.pricing-header {
    margin-bottom: 48px;
}

.pricing-subtitle {
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 12px;
}

.pricing-title {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
}

.pricing-description {
    
}

.pricing-all-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.pricing-card {
    background: #dfebeb;
    border: 0px solid rgba(13, 11, 10, 0.15);
    border-radius: 16px;
    padding: 32px 24px;
    max-width: 343px;
    width: 100%;
}

.card-title {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 8px;

}

.price {
    font-family: "Cabin", sans-serif;
    font-size: 44px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    margin-bottom: 32px;
    
}

.features {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
 
}

.pricing-list-item {
    text-align: left;
    
}

.marker {
    margin-right: 24px;
}

.join-btn-pricing {
    border: 1px solid #c2d9fc;
    border-radius: 100px;
    padding: 10px 24px;
    /* width: 295px; */
    width: 100%;
    height: 46px;
    background: #c2d9fc;

    
    font-size: 16px;
    line-height: 1.6;
    
}

@media screen and (min-width: 768px) {
    .pricing-section {
        background: #f2fafa;
    }

    .container.pricing {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .pricing-header {
        margin-bottom: 24px;
    }

    .pricing-subtitle {
        margin-bottom: 16px;
    }

    .pricing-title {
        margin-bottom: 24px;
    }

    .pricing-description {
        font-size: 18px;

    }

    .pricing-all-cards {
        gap: 24px;
    }

    .pricing-card {
        max-width: calc((100% - 24px) / 2);
        padding: 16px;
    }

    .card-title {
        font-size: 22px;
    }

    .price {
        font-size: 72px;
        margin-bottom: 40px;
    }



    .features {
        display: flex;
        flex-wrap: wrap;

        margin-bottom: 32px;

    }





    
    .pricing-card.last {
        max-width: 100%;


    }











    .join-btn-pricing.last {
        width: 320px;
    }




    
}